{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block head %}
{% block title %} SAMJ | Support Ticket {% endblock %}
{% endblock %}

{%
<p>{{ message }}</p>


{% block content %}
<h2>Bug Tickets</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
    </tr>
    {% for issue in issues %}
    <tr>
        <td>{{ issue.id }}</td>
        <td>{{ issue.title }}</td>
        <td>{{ issue.state }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}