{% extends "layout.html" %}
{% load static %}
{% block head %}

{% block title %}SAMJ | Login{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% endblock %}

{% block body %}
<h1>SAMJ | Sign Up</h1>
<p>
    Already have an account? Then please <a href="{% url 'login' %}">sign in</a>.
</p>
<form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_email">Email (optional):</label>
        <input type="email" name="email" value="" placeholder="Email address" autocomplete="email" maxlength="320"
               id="id_email">
    </div>
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary ">Sign Up</button>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }} login-success-message d-none" {% endif %}>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

</form>
<div id="passwordError" style="color: red;"></div>
{% endblock %}

{% block script %}
<script type="module" src="../../../static/js/signup.js"></script>
{% endblock %}
