{% extends "layout.html" %}
{% load static %}

{% block title %}SAMJ Index Page{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body %}

{% if messages %}
{% for message in messages %}
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
    <div class="toast-header">
        <strong class="mr-auto">{{ message.tags|capfirst }}</strong>
        <small class="text-muted">just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Features</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 features-container">

        <div class="col">
            <!-- TODO change to tbc view -->
            <a href="{% url 'index' %}" class="text-decoration-none">
                <div class="card card-cover h-100 overflow-hidden bg-dark rounded-3 shadow-lg tbc--container feature__container">
                    <div class="overlay"></div>
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1 position-relative">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-white">Time Based Calling</h2>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden bg-dark rounded-3 shadow-lg feature__container inactive-feature">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden bg-dark rounded-3 shadow-lg feature__container inactive-feature">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="module" src="{% static 'js/index.js' %}"></script>
{% endblock %}