{% extends "layout.html" %}
{% load static %}
{% block head %}
<meta name="appleid-signin-client-id" content="[CLIENT_ID]">
<meta name="appleid-signin-scope" content="[SCOPES]">
<meta name="appleid-signin-redirect-uri" content="[REDIRECT_URI]">
<meta name="appleid-signin-state" content="[STATE]">

{% endblock %}

{% block style %}
<style>
    .signin-button {
        width: 210px;
        height: 40px;
    }
</style>

{% endblock %}

{% block title %}SAMJ Login{% endblock %}

{% block body %}
<form>
    <div class="mb-3">
        <label for="email_input" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email_input" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="password_input" class="form-label">Password</label>
        <input type="password" class="form-control input-group" id="password_input">
        <div class="input-group-addon">
            <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input input-group-addon" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Login</button>
        <button class="btn btn-primary" id="signup">Sign up</button>
    </div>
    <div class="button-container">
    <button class="btn">
        <a href="{% url 'social:begin' 'github' %}">
            <img src="{% static 'images/login/gh_icon.png' %}" alt="Login with GitHub" style="width: 50px; height: 50px;">
        </a>
    </button>

    <button class="btn">
        <a href="{% url 'social:begin' 'apple' %}">
            <img src="{% static 'images/login/apple_icon_w.png' %}" alt="Login with Apple" style="width: 50px; height: 50px;">
        </a>
    </button>
    <button class="btn">
        <a href="{% url 'social:begin' 'google' %}">
            <img src="{% static 'images/login/google_logo.png' %}" alt="Login with Google" style="width: 50px; height: 50px;">
        </a>
    </button>
</div>

</form>

{% endblock %}

{% block script %}
<script type="text/javascript"
        src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
{% endblock %}