@import "styles.css";

.tbc--container {
    background-image: url('../images/samj_logo.png');
}

.inactive-feature {
    background-image: url('../images/inactive_feature.webp');
}

.feature__container {
    min-height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}

.feature__container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.feature__container .d-flex {
    z-index: 2;
}
